@model BankClient.Models.Transactions

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Transactions</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransferTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransferTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransactID }) |
    <a asp-action="Index">Back to List</a>
</div>
